* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

}

html {
  background-image: url('../icons/Expect2.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}